---
import Speaker from "../ui/speaker.astro";

const speakers = [
  {
    pic: 'camilo-micheletto.jpg',
    name: 'Camilo Micheletto',
    bio: 'Front-end sênior na OLX, escreve e palestra sobre CSS e performance web e também é consultor sobre design systems.',
    talk: 'Os 3 pilares da arquitetura CSS',
    twitter: 'lixeletto',
    instagram: 'camilomicheletto',
    linkedin: 'https://www.linkedin.com/in/camilo-micheletto/',
  },
  {
    pic: 'daniel-afonso.png',
    name: 'Daniel Afonso',
    bio: 'Developer Advocate na OLX, membro da equipe de DX do SolidJS, instrutor no Egghead.io e autor do livro State Management with React Query.',
    talk: 'Em Breve',
    twitter: 'danieljcafonso',
    instagram: 'danieljcafonso',
    linkedin: 'https://www.linkedin.com/in/danieljcafonso/',
  }

];

const specialClass = [0, 3, 4, 7];
---

<section class="speakers">

 <h2 class="speakers-title">Palco.Production</h2>

  <div class="speakers-main">


    <div class="speakers-content">

      <p>
      Aqui, no Palco Production, todas as palestras são cuidadosamente selecionadas para oferecer conteúdo inédito e exclusivo para os participantes do evento. Você pode ter certeza de que <strong>cada palestra será uma estreia, apresentada pela primeira vez em nosso palco</strong>. Estamos empenhados em trazer as últimas tendências e insights do mundo da tecnologia diretamente para você.
      </p> 
      
      <p>
      Com <strong>capacidade para mais de 700 pessoas</strong>, o Palco Production oferece poltronas super confortáveis e acessibilidade, garantindo uma experiência excepcional para todos os participantes.
      </p>

      <p>
      Acompanhe abaixo os <strong>palestrantes já confirmados</strong>, que prometem trazer conhecimento e inspiração para o Front In Sampa.
      </p>
    </div>
    



    <div class="speakers-list">
      {speakers.map(({ pic, name, bio, talk, twitter, instagram, linkedin }, index) => (
        <div class="speakers-item">
          <Speaker
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            instagram={instagram}
            linkedin={linkedin}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>
  </div>
</section>



<style lang="scss">
  .speakers {
    position: relative;
    background-color: var(--color-accent);
    padding: 13rem 0 10rem;

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .speakers-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;


     @media (max-width: 600px) {
      overflow: hidden;
    }
  }

  .speakers-title {
    font-size: 4rem;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem 0;
    margin-bottom: 6rem;
    text-transform: uppercase;


    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .speakers-content p{
    color: var(--color-secondary);
  }

  .speakers-content p strong {
    color: var(--color-primary);
    background: var(--color-accent-2);
    padding: 1rem 0.5rem;
  }

  .speakers-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .speakers-item {
    flex-basis: 48%;
    margin-bottom: 3rem;
  }

</style>
