---
import Speaker from "../ui/speaker.astro";

const speakers = [
  {
    pic: 'daniel-afonso.png',
    name: 'Daniel Afonso',
    bio: 'Developer Advocate na OLX, membro da equipe de DX do SolidJS, instrutor no Egghead.io e autor do livro State Management with React Query.',
    talk: 'Em Breve',
    twitter: 'danieljcafonso',
    instagram: 'danieljcafonso',
    linkedin: 'https://www.linkedin.com/in/danieljcafonso/',
    github: 'https://github.com/danieljcafonso',
  },
     {
    pic: 'kipperdev.png',
    name: 'Fernanda Kipper',
    bio: 'Engenheira de Software no Itaú e Microsoft MVP, apaixonada pelo desenvolvimento Web desde os 18 anos. Atualmente  Desenvolvedora Fullstack que adora compartilhar seu conhecimento através de videos e lives no YouTube e Instagram.',
    talk: 'Em Breve',
    twitter: 'kipperdev',
    instagram: 'kipper.dev',
    linkedin: 'https://www.linkedin.com/in/fernanda-kipper/',
    github: 'https://github.com/Fernanda-Kipper',
    youtube: 'https://www.youtube.com/@kipperdev',
  },
  
  {
    pic: 'camilo-micheletto.jpg',
    name: 'Camilo Micheletto',
    bio: 'Front-end sênior na OLX, escreve e palestra sobre CSS e performance web e também é consultor sobre design systems.',
    talk: 'Os 3 pilares da arquitetura CSS',
    twitter: 'lixeletto',
    instagram: 'camilomicheletto',
    linkedin: 'https://www.linkedin.com/in/camilo-micheletto/',
    github: 'https://github.com/allyhere',
  },

  {
    pic: 'mario-souto.png',
    name: 'Mario Souto - Dev Soutinho',
    bio: 'Web Platform Lead Software Enginner @ Nubank & Creator @ DEVSOUTINHO.',
    talk: 'Em Breve',
    twitter: 'omariosouto',
    instagram: 'devsoutinho',
    youtube: 'https://www.youtube.com/@DevSoutinho',
  },
  {
    pic: 'fabi-rodrigues.jpg',
    name: 'Fabi Rodrigues',
    bio: 'Especialista Front-end e mentora de carreiras em tecnologia, Fabi é MBA em Engenharia da Computação pela UFRJ e já trabalhou com uma gama variada de ferramentas front, back e dados.',
    talk: 'Testes unitários no front, por que nos odeiam?',
    twitter: 'frontfabii',
    instagram: 'frontfabi',
  },
  {
    pic: 'marcelo-sales.png',
    name: 'Marcelo Sales',
    bio: 'Designer, há mais de 20 anos desenvolvendo produtos e serviços digitais. CEO e fundador da Tudo é Acessibilidade. Criador do Guia WCAG. Professor de Acessibilidade na PUC, FIAP, ESPM e outras instituições. Palestrante e membro do Grupo de Trabalho de Especialistas em Acessibilidade do W3C Brasil.',
    talk: 'Onde exatamente o seu CSS pode afetar a acessibilidade em sites?',
    twitter: 'msales',
    instagram: 'msales',
    linkedin: 'https://www.linkedin.com/in/msales78/',
  },
  {
    pic: 'nataliafdev.png',
    name: 'Natalia F Dev',
    bio: 'Dev Front-end, Community Manager, Palestrante e Cofundadora da comunidade Tech In Rio.',
    talk: 'Em Breve',
    twitter: 'nataliafdev',
    instagram: 'natalizafdev',
    github: 'https://github.com/natalia-fs',
  },



  

];

const specialClass = [0, 3, 4, 7];
---

<section class="speakers">

 <h2 class="speakers-title">Palco.Production</h2>

  <div class="speakers-main">


    <div class="speakers-content">

      <p>
      Aqui, no Palco Production, todas as palestras são cuidadosamente selecionadas para oferecer conteúdo inédito e exclusivo para os participantes do evento. Você pode ter certeza de que <strong>cada palestra será uma estreia, apresentada pela primeira vez em nosso palco</strong>. Estamos empenhados em trazer as últimas tendências e insights do mundo da tecnologia diretamente para você.
      </p> 
      
      <p>
      Com <strong>capacidade para mais de 700 pessoas</strong>, o Palco Production oferece poltronas super confortáveis e acessibilidade, garantindo uma experiência excepcional para todos os participantes.
      </p>

      <p>
      Acompanhe abaixo os <strong>palestrantes já confirmados</strong>, que prometem trazer conhecimento e inspiração para o Front In Sampa.
      </p>
    </div>
    



    <div class="speakers-list">
      {speakers.map(({ pic, name, bio, talk, twitter, instagram, linkedin, github, youtube }, index) => (
        <div class="speakers-item">
          <Speaker
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            instagram={instagram}
            linkedin={linkedin}
            github={github}
            youtube={youtube}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>
  </div>
</section>



<style lang="scss">
  .speakers {
    position: relative;
    background-color: var(--color-accent);
    padding: 13rem 0 10rem;

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .speakers-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;


     @media (max-width: 600px) {
      overflow: hidden;
    }
  }

  .speakers-title {
    font-size: 4rem;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem 0;
    margin-bottom: 6rem;
    text-transform: uppercase;


    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .speakers-content p{
    color: var(--color-secondary);
  }

  .speakers-content p strong {
    color: var(--color-primary);
    background: var(--color-accent-2);
    padding: 1rem 0.5rem;
  }

  .speakers-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .speakers-item {
    flex-basis: 48%;
    margin-bottom: 3rem;
  }

</style>
