---
import Sponsor from "../ui/sponsor.astro";

const sponsors = [
  {
    logo: 'sponsor-nearsure.png',
    company: 'Nearsure',
    url: 'https://nearsure.com/',
  }
];

const support = [
  {
    logo: 'citd.png',
    company: 'Code In The Dark Brasil',
    url: 'http://www.codeinthedark.com.br',
  },
  {
    logo: 'fif.png',
    company: 'Front In Floripa',
    url: 'https://frontin.floripa.br/',
  },
];
---

<section class="sponsors">
  <div class="sponsors-main">

    <h2 class="sponsors-title">
      Patrocínio
    </h2>
    
    <div class="sponsors-list">
      {sponsors.map(({ logo, company, url }) => (
        <div class="sponsors-item">
          <Sponsor
            logo={logo}
            company={company}
            url={url}
            kind="sponsor"
          />
        </div>
      ))}
    </div>


    <h2 class="sponsors-title">
      Apoio
    </h2>
    
    <div class="support-list">
      {support.map(({ logo, company, url }) => (
        <div class="sponsors-item">
          <Sponsor
            logo={logo}
            company={company}
            url={url}
            kind="support"
          />
        </div>
      ))}
    </div>


  </div>
</section>

<style lang="scss">
  .sponsors {
    position: relative;
    background-color: var(--color-secondary);
    padding: 6rem 0 2rem;

    @media (max-width: 600px) {
      padding: 4rem 0 10rem;
    }
  }

  .sponsors-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1000px) {
      padding: 0 3rem;
    }
  }

  .sponsors-disclaimer {
    padding: 5rem 0 7rem;
    color: #555;
    text-align: center;

    @media (max-width: 800px) {
      padding: 3rem 0 6rem;
    }
  }

  .sponsors-disclaimer-box {
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 10rem;
    margin-top: -3rem;
  }

  .sponsors-disclaimer-text {
    text-align: center;
    margin: 0;
    line-height: 1.8;

    @media (max-width: 600px) {
      line-height: 2;
    }
  }

  .sponsors-disclaimer-text span {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: var(--color-accent-2);
    padding: .2em .5em;
    display: inline-block;
    margin-bottom: 1.6rem;

    @media (max-width: 800px) {
      font-size: 1.4rem;
    }
  }

  .sponsors-title {
    color: var(--color-primary);
    font-size: 4rem;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .sponsors-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 3rem;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 6rem;
  }

  .sponsors-list:last-child()  {
     border-bottom: none;
     margin-bottom: 0;
  }

  .sponsors-item {
    flex-basis: 33.3%;
    margin-bottom: 4rem;

    @media (max-width: 600px) {
      flex-basis: 50%;
    }
  }

  .support-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    justify-content: center;
  }

  .support-item {
    flex-basis: 13%;
    margin-bottom: 2rem;

    @media (max-width: 600px) {
      flex-basis: 33%;
    }
  }
</style>