---
import Lightningtalk from "../ui/lightningtalk.astro";

const lightningtalk = [
  {
    pic: 'daniel-reis.jpg',
    name: 'Daniel Reis',
    bio: 'Developer Advocate at ScyllaDB',
    talk: 'A profissão "Developer Advocate" para iniciantes',
    twitter: 'danielhe4rt',
    instagram: 'danielhe4rt',
    linkedin: 'https://www.linkedin.com/in/danielheart/',
    time: '9:20',
  },
  {
    pic: 'pachi-parra.jpg',
    name: 'Pachi Parra',
    bio: 'Developer Advocate no GitHub',
    talk: 'Como deixar seu Github verdinho',
    twitter: 'pachicodes',
    instagram: 'pachicodes',
    linkedin: 'https://www.linkedin.com/in/pachicodes/',
    time: '9:35',
  },
  {
    pic: 'reginaldo.jpg',
    name: 'Reginaldo Junior',
    bio: 'Membro do coletivo QuebraDev | Engenheiro de Software Sênior @ Créditas e DJ nas horas vagas ',
    talk: 'Quanto seu front-end gasta de energia eletrica?',
    twitter: 'r1g312',
    instagram: 'r1g312',
    linkedin: 'https://www.linkedin.com/in/reginaldo-luis-luna-junior-b26b4b79/',
    time: '9:50',
  },
  {
    pic: 'nathally-souza.jpg',
    name: 'Nathally Souza',
    bio: 'Engenheira de Software @ Nubank',
    talk: 'Os desafios (techs e business) de iniciar um startup',
    twitter: 'nathsouzadev',
    instagram: 'nathsouzadev',
    linkedin: 'https://www.linkedin.com/in/nathsouza/',
    time: '10:05',
  },
  {
    pic: 'gabriel-gatto.jpg',
    name: 'Gabriel Gatto',
    bio: 'Líder do time de Atração e Seleção TECH da TOTVS',
    talk: 'A relação entre o Tech Recruiter e o Dev Front-End',
    linkedin: 'https://www.linkedin.com/in/gabrielzgatto/',
    time: '10:20',
  },
  {
    pic: 'tais-reis.jpg',
    name: 'Tais Reis',
    bio: 'Sênior Software Engineer @ Creditas',
    talk: 'O que observar e monitorar na sua aplicação frontend?',
    twitter: 'taisreis67',
    instagram: 'taisreis67',
    linkedin: 'https://www.linkedin.com/in/taisreis67/',
    time: '10:35',
  },
  {
    pic: 'nick-gabe.jpg',
    name: 'Nick Gabe',
    bio: 'Full Stack Developer @ Vinivia',
    talk: 'Do conhecimento a influência: Como aprender em público',
    twitter: 'ImNickGabe',
    instagram: 'imnickgabe',
    linkedin: 'https://www.linkedin.com/in/nickgabe/',
    time: '10:50',
  },
  {
    pic: 'afonso-pacifer.png',
    name: 'Afonso Pacifer',
    bio: 'DevRel & Platform Front-End Specialist @ Neoway',
    talk: 'Recriando o React do Zero em 10 minutos',
    twitter: 'afonsopacifer',
    linkedin: 'https://www.linkedin.com/in/afonsopacifer/',
    time: '11:05',
  },
  {
    pic: 'lu-brunelli.jpg',
    name: 'Luh Brunelli',
    bio: 'QA Pleno na Superlogica Tecnologias',
    talk: 'Planejamento de testes com I.A',
    instagram: 'luhbruneliqa',
    time: '11:20',
  },
  {
    pic: 'odenir.jpg',
    name: 'Odenir Gomes',
    bio: 'Software Developer, Founder and Community Manager at Open-source Courses',
    talk: 'A receita para o sucesso em programação',
    twitter: '_odenirdev',
    instagram: '_odenirdev',
    time: '11:35',
  },
  {
    pic: 'tatiana-barros.jpg',
    name: 'Tatiana Barros',
    bio: 'Developer Relations Manager Meteor.js',
    talk: 'Construa, Contribua, Cresça: Um Guia Prático para escalar sua carreira Tech com Open Source',
    twitter: 'umataldetatiana',
    instagram: 'umataldetatiana',
    linkedin: 'https://www.linkedin.com/in/umataldetatiana/',
    time: '11:50',
  },
  {
    pic: 'spacecoding.jpg',
    name: 'Giulia Bordignon',
    bio: 'Desenvolvedora Backend Sênior C# @ Aquasoft',
    talk: 'Softskills que você precisa desenvolver',
    twitter: 'sspacecoding',
    instagram: 'spacecoding',
    linkedin: 'https://www.linkedin.com/in/spacecoding/',
    time: '12:05',
  },
  {
    pic: 'jureg.png',
    name: 'Jureg',
    bio: 'Desenvolvedor FullStack - VueJS | Node & Community Manager na Thasfin',
    talk: 'Importância do networking em inicio de carreira',
    twitter: 'juregdev',
    instagram: 'juregdev',
    linkedin: 'https://www.linkedin.com/in/juregdev/',
    time: '12:20',
  },
  {
    pic: 'lahana.jpg',
    name: 'Lahana',
    bio: 'Dev front-end @ Neoway',
    talk: 'CSS avançado para 2023: Conhecendo as novidades e desvendando os desafios',
    twitter: 'lahaniinha',
    instagram: 'lahana.s.l',
    linkedin: 'https://www.linkedin.com/in/lahana-lameira/',
    time: '12:35',
  },
  {
    pic: 'pokemaobr.jpg',
    name: 'Pokemaobr',
    bio: 'Streamer (Live "Coder") na Twitch | Evangelista PHPSP',
    talk: 'Stand-up do Pokemao - Os embalos do Front-End',
    twitter: 'pokemaobr',
    instagram: 'pokemaobr',
    linkedin: 'https://www.linkedin.com/in/pokemaobr/',
    time: '12:50',
  },
    {
    pic: 'guilherme-pais.jpeg',
    name: 'Guilherme Pais',
    bio: 'Chapter Lead | Front End @ Paraná Banco',
    talk: 'Guia de Sobrevivência a um Design System',
    twitter: 'guilhermepais',
    linkedin: 'https://www.linkedin.com/in/guilhermepais/',
    time: '14:20',
  },
  {
    pic: 'proxy-go.jpg',
    name: 'Proxy_go',
    bio: 'Designer, escritora, ilustradora, streamer e droneira',
    talk: 'Voando Juntas: A Experiência de Fazer Parte de um Time de Pilotas de Drone',
    twitter: 'proxy_go',
    instagram: 'proxy_go',
    linkedin: 'https://www.linkedin.com/in/proxygo/',
    time: '14:35',
  },
  {
    pic: 'mario-souto.jpg',
    name: 'Mario Souto',
    bio: 'Web Platform Lead Software Engineer @ Nubank | Creator @ DevSoutinho',
    talk: 'Error Hell: Como tratar erros no Front End',
    twitter: 'omariosouto',
    instagram: 'omariosouto',
    linkedin: 'https://www.linkedin.com/in/omariosouto/',
    time: '14:50',
  },
  {
    pic: 'bruno-genaro.jpeg',
    name: 'Bruno Genaro',
    bio: 'Software Engineer | CEO @ WebSolutionsFL',
    talk: 'Descomplicando suas requisições assíncronas com React Query',
    twitter: 'bfgenaro',
    instagram: 'brunogenaro',
    linkedin: 'https://www.linkedin.com/in/brunogenaro/',
    time: '15:05',
  },
  {
    pic: 'fernanda-kipper.png',
    name: 'Fernanda Kipper',
    bio: 'Software Engineer @ Itaú',
    talk: 'Criando uma Função Serverless na AWS em menos de 10 minutos',
    instagram: 'kipper.dev',
    linkedin: 'https://www.linkedin.com/in/fernanda-kipper/',
    time: '15:20',
  },
  {
    pic: 'jeff-prestes.jpg',
    name: 'Jeff Prestes',
    bio: 'Blockchain Architect - Nodes, Smart Contracts & ZKP Circuits',
    talk: 'Ethereum precisa de você!',
    twitter: 'jeffprestes',
    instagram: 'jeffprestes',
    linkedin: 'https://www.linkedin.com/in/jeffprestes/',
    time: '15:35',
  },
  {
    pic: 'adriana-saty.jpg',
    name: 'Adriana Saty',
    bio: 'Desenvolvedora de Software  | Content Creator',
    talk: 'Cybersecurity no Frontend',
    instagram: 'adriana.saty',
    linkedin: 'https://www.linkedin.com/in/adriana-saty/',
    time: '15:50',
  },
  {
    pic: 'felipe-fialho.jpg',
    name: 'Felipe Fialho',
    bio: 'Lead & Staff Engineer @ Juntos Somos Mais | Creator Front-end BR',
    talk: 'Web Components pra Componentes Web',
    twitter: 'felipefialho_',
    instagram: '_felipefialho',
    linkedin: 'https://www.linkedin.com/in/felipefialho/',
    time: '16:05',
  }
];

const specialClass = [0, 3, 4, 7];
---


<section class="staging">
  <h2 class="staging-title">Staging.Frontinsampa</h2>

  <div class="staging-main">
    <p class="staging-content">
    Quando estamos prestes a iniciar um novo projeto, a primeira parada é no Staging. É lá que toda a mágica acontece! É o momento de finalizar os componentes que já estão prontos (só falta testar, hehe), criar novos elementos e incluir aqueles que são indispensáveis em qualquer projeto. Este é um ambiente acolhedor, onde todos, palestrantes e participantes do evento, podem se sentir completamente à vontade. Aqui, queremos que se sintam em casa, aproveitem ao máximo e compartilhem suas ideias e conhecimentos.</p> 
    
    <p class="staging-content">Então, <strong>bem-vindos ao palco Staging.Frontinsampa</strong>, o lugar onde a criatividade e a inovação se encontram para transformar ideias em realidade! Vamos nessa, é hora de colocar a mão na massa e fazer desse evento um verdadeiro sucesso!</p>

    <p class="staging-content">Alguns dos nomes já confirmados:</p>



    <div class="staging-list">
      {lightningtalk.map(({ pic, name, bio, talk, twitter, instagram, linkedin, time }, index) => (
        <div class="staging-item">
          <Lightningtalk
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            instagram={instagram}
            linkedin={linkedin}
            time={time}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>

    <p class="staging-disclaimer">
      * Os horários e slots podem sofrer alterações sem aviso prévio até o dia do evento.
    </p>

  </div>
</section>

<style lang="scss">
  .staging {
    position: relative;
    background-color: var(--color-primary);
    padding: 13rem 0 10rem;

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .staging-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;
  }


  .staging-title {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    color: var(--color-secondary);
    background: var(--color-accent);
    padding: 1rem 0;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .staging-content {
    color: var(--color-secondary);
  }

  .staging-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;

    @media (max-width: 600px) {
      display: block;
    }
  }


  .staging-item {
    flex-basis: 32%;
    margin-bottom: 2rem;

     @media (max-width: 900px) {
      flex-basis: 50%;
    }
  }

  .staging-disclaimer {
    margin: 5rem 0 0 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-secondary);
    text-align: center;

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }





</style>