---
import Lightningtalk from "../ui/lightningtalk.astro";

const lightningtalk = [
  {
    pic: 'gui-souza.webp',
    name: 'Gui Souza',
    bio: 'É criador da Infleux, CEO & Founder da Data², se expressa melhor com javascript do que com português brasileiro. Vai passar o resto da vida tentando entender do que tudo é feito e provavelmente vai ser lembrado como o cara que fez um braço com javascript =D',
    talk: 'Eu estava concluindo as minhas dúvidas sobre abstração. Mas aí surgiram os LLMs',
    instagram: 'gui_souza',
    linkedin: 'https://www.linkedin.com/in/guilhermedesouzacoder/',
    time: '9:30',
  },
  {
    pic: 'larissa-azevedo.webp',
    name: 'Larissa Azevedo',
    bio: 'Software Engineer no IFood, mentora de desenvolvedores, palestrante e criadora de conteúdo em sobre carreira em tecnologia e front-end.',
    talk: 'Código à Prova de Falhas: Táticas para Detectar e Corrigir Erros Antes que Eles Aconteçam',
    instagram: 'lari.sazevedo',
    github: 'https://github.com/LarissaAzevedo/',
    time: '9:50',
  },
  {
    pic: 'felquis.webp',
    name: 'Ofelquis Gimenes',
    bio: 'Oi, eu sou Ofelquis, faço sites por profissão e por diversão.',
    talk: 'Web Platform Baseline - Novas APIs que já podemos usar hoje sem medo.',
    twitter: 'imfelquis',
    linkedin: 'https://linkedin.com/in/felquis/',
    github: 'https://github.com/felquis/',
    time: '10:10',
  },
  {
    pic: 'zoey.webp',
    name: 'Zoey Pessanha',
    bio: 'Apaixonada por Elixir e por transformar café em código. Co Apresentadora do Podcast ELIXIR em Foco',
    talk: 'Phoenix LiveView: Simplificando o Front-end com Elixir',
    instagram: 'zoedsoupe',
    github: 'https://github.com/zoedsoupe',
    linkedin: 'https://linkedin.com/in/zoedsoupe',
    time: '10:30'
  },
  {
    pic: 'rafael-gomex.webp',
    name: 'Rafael Gomex',
    bio: 'Soteropolitano, pai de um garoto, fundador da Mentoria DevOps, Core Organizer do DevOpsDays, instrutor na Linuxtips e um amante do conhecimento livre.',
    talk: 'Melhores práticas para construção e utilização dos seus módulos terraform',
    twitter: 'gomex',
    github: 'https://github.com/gomex/',
    time: '10:50',
  },
  {
    pic: 'spacecoding.webp',
    name: 'Giulia Bordignon',
    bio: 'Mestra em engenharia de computação e desenvolvedora backend.',
    talk: 'Estratégias de otimizações no backend para melhorar a performance de aplicações frontend',
    twitter: 'sspacecoding',
    instagram: 'spacecoding',
    linkedin: 'https://www.linkedin.com/in/spacecoding/',
    github: 'https://github.com/sspacecoding/',
    time: '11:10',
  },
  {
    pic: 'code-in-the-dark.png',
    name: 'Code In The Dark - Express Edition',
    bio: 'Muita música, código, diversão e aquela energia caótica de sempre, mas numa versão mais rápida!',
    twitter: 'codeinthedarkbr',
    instagram: 'codeinthedarkbrasil',
    time: '11:40',
  },
  {
    pic: 'rosana-damasceno.webp',
    name: 'Rosana Damasceno',
    bio: 'Olá Rosana aqui , mais conhecida como a menina do black roxo, trabalhando como front-end na empresa itau e apoiando comunidades como PerifaCode e AngularSP. Pós graduada em arquitetura da informação e ux.',
    talk: 'Construindo para Todos: Desenvolvimento com Acessibilidade em Mente',
    twitter: 'rosanaxica',
    instagram: 'rosanaxica',
    github: 'https://github.com/rosanaxica',
    time: '14h30',
  },
  {
    pic: 'william-grasel.webp',
    name: 'William Grasel',
    bio: 'Desenvolvedor Web apaixonado com mais de 20 anos de experiência na área, Google Developer Expert, Microsoft MVP, especializado em FrontEnd Web, SPA e PWA, contribuidor open source, consultor, organizador de comunidades e palestrante.',
    talk: 'Angular Signals: reatividade simples e prática.',
    twitter: 'willgmbr',
    github: 'https://github.com/willgm/',
    time: '14:50',
  },
  {
    pic: 'tech-in-rio.webp',
    name: 'Tech In Rio',
    bio: 'A Tech In Rio é a comunidade de tecnologia mais carioca do Brasil. Nascemos para unir as pessoas de tecnologia do Rio de Janeiro como nunca antes!',
    talk: 'Tech In Rio: a comunidade com o tempero carioca',
    twitter: 'techinrio',
    instagram: 'techinrio',
    github: 'https://github.com/techinrio',
    time: '15:10',
  },
  {
    pic: 'igor.webp',
    name: 'Igor Halfeld',
    bio: 'Software Engineer',
    talk: 'O caminho de dev front-end a CEO',
    twitter: 'igorhalfeld',
    instagram: 'luckyhackers.academy',
    github: 'https://github.com/igorhalfeld/',
    time: '15h30',
  },
  {
    pic: 'sabrina-barros.webp',
    name: 'Sabrina Barros',
    bio: 'Desenvolvedora Front-End autodidata, entusiasta por programação funcional, defensora do TDD e nerd de Zelda.',
    talk: 'Testes no front-end deveriam ser sua prioridade!',
    twitter: 'DevSaaz',
    instagram: 'DevSaaz',
    github: 'https://github.com/SabrinaBarros/',
    time: '15:50',
  },
  {
    pic: 'vitor-norton.webp',
    name: 'Vitor Norton',
    bio: 'Microsoft MVP há mais tempo do que me lembro, ganhador do Code In The Dark, +10 anos como full stack trabalhando com C#, TypeScript, React e Angular. Apaixonado por criar pontes entre pessoas (e por css)',
    talk: 'Motivos para distribuir via CDN (com o <script src=”” />) ao invés npm modules',
    twitter: 'vt_norton',
    instagram: 'vt_norton',
    github: 'https://github.com/vtnorton/',
    time: '16:10',
  },
   {
    pic: 'beatriz-duarte.webp',
    name: 'Beatriz Duarte',
    bio: 'Engenheira de Software na Nubank e criadora de conteúdo sobre tecnologia e programação nas redes sociais com o objetivo de incentivar mulheres na TI',
    talk: 'De Front a Back: Como descobri minha paixão pelo Backend',
    instagram: 'bia.coding',
    github: 'https://github.com/beatrizmmduarte/',
    time: '16:30',
  },
  {
    pic: 'cassiano.webp',
    name: 'Cassiano Scheidemantel',
    bio: 'Programador frontend.  Ajudo pessoas a entrarem no mundo da tecnologia e programação. Divulgo de forma totalmente grátis conteúdos, dicas, códigos, tutoriais e cursos no meu perfil do Instagram @programador.cs',
    talk: '53x1',
    instagram: 'programador.cs/',
    github: 'https://github.com/Cassianosch',
    time: '16h50',
  },
  {
    pic: 'milena-porto.webp',
    name: 'Milena Porto',
    bio: 'Graduanda em Ciência da Computação, Desenvolvedora Low-Code, Tech Content Creator, Educadora e Entusiasta de Tecnologia.',
    talk: 'Transformação Educacional: Como a IA Está Moldando o Futuro das Aulas',
    linkedin: 'https://www.linkedin.com/in/milenaporto/',
    instagram: 'mictalks',
    github: 'https://github.com/micoyado/',
    time: '17h10',
  },
  {
    pic: 'guto.webp',
    name: 'Guto Lanjoni',
    bio: 'Engenheiro de Software na Nimble, Técnico em Informática e Futuro Bacharel em Sistemas de Informação pelo IFSP, Membro da He4rt Developers, Embaixador da Linguagem de Programação Crystal e Entusiasta de Open-Source.',
    talk: 'Programação Funcional no Front-end com ClojureScript e React',
    twitter: 'gutolanjoni',
    github: 'https://github.com/lanjoni',
    time: '17h30',
  },
  {
    pic: 'erica.webp',
    name: 'Erica Francisco',
    bio: 'Desenvolvedora de software apaixonada em aprender e compartilhar conhecimento.',
    talk: 'Saiba como identificar e se proteger contra repositórios infectados no GitHub.',
    linkedin: 'https://www.linkedin.com/in/erica-s-francisco/',
    github: 'https://github.com/EricaSantos-FullStack',
    time: '17h50',
  },
  {
    pic: 'paolo.webp',
    name: 'Paolo Almeida',
    bio: 'Dev há mais de 15 anos, Mentor, Escritor e Palestrante. Produz conteúdo sobre tecnologia, human skills futuro do trabalho e IA.',
    talk: 'Você nunca será Dev Senior…',
    instagram: 'paoloalmeida',
    github: 'https://github.com/paoloalmeida',
    linkedin: 'https://www.linkedin.com/in/paoloalmeida/',
    time: '18h10',
  },
];

const specialClass = [0, 3, 4, 7];
---


<section class="staging">
  <h2 class="staging-title">Palco.Staging</h2>

  <div class="staging-main">
    <p class="staging-content">
    No ano passado (2023), o <strong>Palco Staging foi um sucesso</strong> e estamos empolgados para repetir a experiência.
    </p> 
    
    <p class="staging-content">
    Para quem não está familiarizado, o nome Staging é dado porque, ao iniciar um novo projeto, é lá que tudo começa. É onde a magia acontece! Nesse ambiente acolhedor, finalizamos os componentes existentes, criamos novos elementos e incluímos tudo o que é essencial para o sucesso do projeto. <strong>Aqui, tanto os palestrantes quanto os participantes podem se sentir em casa</strong>, compartilhando ideias e conhecimentos.
    </p>

    <p class="staging-content">
    Então, sejam <strong>bem-vindos ao Palco Staging, onde a criatividade e a inovação se unem </strong>para transformar ideias em realidade! É hora de colocar a mão na massa e fazer deste evento mais um sucesso!
    </p>


    <div class="staging-list">
      {lightningtalk.map(({ pic, name, bio, talk, twitter, instagram, linkedin, github, youtube,time }, index) => (
        <div class="staging-item">
          <Lightningtalk
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            instagram={instagram}
            linkedin={linkedin}
            github={github}
            youtube={youtube}
            time={time}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>
    <p class="staging-disclaimer">
      * Os horários e slots podem sofrer alterações sem aviso prévio até o dia do evento.
    </p>




  </div>
</section>

<style lang="scss">
  .staging {
    position: relative;
    background-color: var(--color-primary);
    padding: 13rem 0 10rem;
    border-bottom: 2px solid var(--color-accent);

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .staging-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;
  }


  .staging-title {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    color: var(--color-secondary);
    background: var(--color-accent);
    padding: 1rem 0;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .staging-content {
    color: var(--color-secondary);
  }


  .staging-content strong {
    color: var(--color-primary);
    background: var(--color-accent-2);
    padding: 1rem 0.5rem;
  }

  .staging-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;

    @media (max-width: 600px) {
      display: block;
    }
  }


  .staging-item {
    flex-basis: 32%;
    margin-bottom: 2rem;

     @media (max-width: 900px) {
      flex-basis: 50%;
    }
  }

  .staging-disclaimer {
    margin: 5rem 0 0 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-secondary);
    text-align: center;

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

</style>