---
import Lightningtalk from "../ui/lightningtalk.astro";

const lightningtalk = [
  {
    pic: 'bruno-genaro.jpeg',
    name: 'Bruno Genaro',
    bio: 'Software Engineer | CEO @ websolutionsfl',
    talk: 'Descomplicando suas requisições assíncronas com React Query',
    twitter: 'bfgenaro',
    linkedin: 'https://www.linkedin.com/in/brunogenaro/',
  },
  {
    pic: 'nathally-souza.jpg',
    name: 'Nathally Souza',
    bio: 'Engenheira de Software @ Nubank',
    talk: 'Em Breve',
    twitter: 'nathsouzadev',
    linkedin: 'https://www.linkedin.com/in/nathsouza/',
  },
  {
    pic: 'afonso-pacifer.png',
    name: 'Afonso Pacifer',
    bio: 'DevRel & Platform Front-End Specialist @ Neoway',
    talk: 'Em Breve',
    twitter: 'afonsopacifer',
    linkedin: 'https://www.linkedin.com/in/afonsopacifer/',
  },
];

const specialClass = [0, 3, 4, 7];
---


<section class="staging">
  <h2 class="staging-title">Staging.Frontinsampa</h2>

  <div class="staging-main">
    <p class="staging-content">
    Quando estamos prestes a iniciar um novo projeto, a primeira parada é no Staging. É lá que toda a mágica acontece! É o momento de finalizar os componentes que já estão prontos (só falta testar, hehe), criar novos elementos e incluir aqueles que são indispensáveis em qualquer projeto. Este é um ambiente acolhedor, onde todos, palestrantes e participantes do evento, podem se sentir completamente à vontade. Aqui, queremos que se sintam em casa, aproveitem ao máximo e compartilhem suas ideias e conhecimentos.</p> 
    
    <p class="staging-content">Então, <strong>bem-vindos ao palco Staging.Frontinsampa</strong>, o lugar onde a criatividade e a inovação se encontram para transformar ideias em realidade! Vamos nessa, é hora de colocar a mão na massa e fazer desse evento um verdadeiro sucesso!</p>

    <p class="staging-content">Alguns dos nomes já confirmados:</p>



    <div class="staging-list">
      {lightningtalk.map(({ pic, name, bio, talk, twitter, linkedin, time }, index) => (
        <div class="staging-item">
          <Lightningtalk
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            linkedin={linkedin}
            time={time}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>
  </div>
</section>

<style lang="scss">
  .staging {
    position: relative;
    background-color: var(--color-primary);
    padding: 13rem 0 10rem;

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .staging-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;
  }


  .staging-title {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    color: var(--color-secondary);
    background: var(--color-accent);
    padding: 1rem 0;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .staging-content {
    color: var(--color-secondary);
  }

  .staging-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;

    @media (max-width: 600px) {
      display: block;
    }
  }


  .staging-item {
    flex-basis: 32%;
    margin-bottom: 2rem;

     @media (max-width: 900px) {
      flex-basis: 50%;
    }
  }





</style>