---
import Lightningtalk from "../ui/lightningtalk.astro";

const lightningtalk = [
  {
    pic: 'nathally-souza.jpg',
    name: 'Nathally Souza',
    bio: 'Engenheira de Software @ Nubank',
    talk: 'Os desafios (techs e business) de iniciar um startup',
    twitter: 'nathsouzadev',
    instagram: 'nathsouzadev',
    linkedin: 'https://www.linkedin.com/in/nathsouza/',
    github: 'https://www.linkedin.com/in/nathsouza/',
    youtube: 'https://www.linkedin.com/in/nathsouza/',
    time: '10:05',
  },
  {
    pic: 'tais-reis.jpg',
    name: 'Tais Reis',
    bio: 'Sênior Software Engineer @ Creditas',
    talk: 'O que observar e monitorar na sua aplicação frontend?',
    twitter: 'taisreis67',
    instagram: 'taisreis67',
    linkedin: 'https://www.linkedin.com/in/taisreis67/',
    time: '10:35',
  },
  {
    pic: 'nick-gabe.jpg',
    name: 'Nick Gabe',
    bio: 'Full Stack Developer @ Vinivia',
    talk: 'Do conhecimento a influência: Como aprender em público',
    twitter: 'ImNickGabe',
    instagram: 'imnickgabe',
    linkedin: 'https://www.linkedin.com/in/nickgabe/',
    time: '10:50',
  },
  {
    pic: 'afonso-pacifer.png',
    name: 'Afonso Pacifer',
    bio: 'DevRel & Platform Front-End Specialist @ Neoway',
    talk: 'Recriando o React do Zero em 10 minutos',
    twitter: 'afonsopacifer',
    linkedin: 'https://www.linkedin.com/in/afonsopacifer/',
    time: '11:05',
  },
  {
    pic: 'odenir.jpg',
    name: 'Odenir Gomes',
    bio: 'Software Developer, Founder and Community Manager at Open-source Courses',
    talk: 'A receita para o sucesso em programação',
    twitter: '_odenirdev',
    instagram: '_odenirdev',
    time: '11:35',
  },
  {
    pic: 'tatiana-barros.jpg',
    name: 'Tatiana Barros',
    bio: 'Developer Relations Manager Meteor.js',
    talk: 'Construa, Contribua, Cresça: Um Guia Prático para escalar sua carreira Tech com Open Source',
    twitter: 'umataldetatiana',
    instagram: 'umataldetatiana',
    linkedin: 'https://www.linkedin.com/in/umataldetatiana/',
    time: '11:50',
  },
  {
    pic: 'bruno-genaro.jpeg',
    name: 'Bruno Genaro',
    bio: 'Software Engineer | CEO @ WebSolutionsFL',
    talk: 'Descomplicando suas requisições assíncronas com React Query',
    twitter: 'bfgenaro',
    instagram: 'brunogenaro',
    linkedin: 'https://www.linkedin.com/in/brunogenaro/',
    time: '15:05',
  },
  {
    pic: 'fernanda-kipper.png',
    name: 'Fernanda Kipper',
    bio: 'Software Engineer @ Itaú',
    talk: 'Criando uma Função Serverless na AWS em menos de 10 minutos',
    instagram: 'kipper.dev',
    linkedin: 'https://www.linkedin.com/in/fernanda-kipper/',
    time: '15:20',
  }
];

const specialClass = [0, 3, 4, 7];
---


<section class="staging">
  <h2 class="staging-title">Palco.Staging</h2>

  <div class="staging-main">
    <p class="staging-content">
    No ano passado (2023), o <strong>Palco Staging foi um sucesso</strong> e estamos empolgados para repetir a experiência.
    </p> 
    
    <p class="staging-content">
    Para quem não está familiarizado, o nome Staging é dado porque, ao iniciar um novo projeto, é lá que tudo começa. É onde a magia acontece! Nesse ambiente acolhedor, finalizamos os componentes existentes, criamos novos elementos e incluímos tudo o que é essencial para o sucesso do projeto. <strong>Aqui, tanto os palestrantes quanto os participantes podem se sentir em casa</strong>, compartilhando ideias e conhecimentos.
    </p>

    <p class="staging-content">
    Então, sejam <strong>bem-vindos ao Palco Staging, onde a criatividade e a inovação se unem </strong>para transformar ideias em realidade! É hora de colocar a mão na massa e fazer deste evento mais um sucesso!
    </p>

{/*
    <div class="staging-list">
      {lightningtalk.map(({ pic, name, bio, talk, twitter, instagram, linkedin, github, youtube,time }, index) => (
        <div class="staging-item">
          <Lightningtalk
            pic={pic}
            name={name}
            bio={bio}
            talk={talk}
            twitter={twitter}
            instagram={instagram}
            linkedin={linkedin}
            github={github}
            youtube={youtube}
            time={time}
            specialClass={specialClass.includes(index) && 'alt'}
          />
        </div>
      ))}
    </div>
    <p class="staging-disclaimer">
      * Os horários e slots podem sofrer alterações sem aviso prévio até o dia do evento.
    </p>

 */}


  </div>
</section>

<style lang="scss">
  .staging {
    position: relative;
    background-color: var(--color-primary);
    padding: 13rem 0 10rem;
    border-bottom: 2px solid var(--color-accent);

    @media (max-width: 600px) {
      padding: 9rem 0 2rem;
    }
  }

  .staging-main {
    max-width: var(--wrapper-medium);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3rem 4rem 3rem;
  }


  .staging-title {
    font-size: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    color: var(--color-secondary);
    background: var(--color-accent);
    padding: 1rem 0;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .staging-content {
    color: var(--color-secondary);
  }


  .staging-content strong {
    color: var(--color-primary);
    background: var(--color-accent-2);
    padding: 1rem 0.5rem;
  }

  .staging-list {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;

    @media (max-width: 600px) {
      display: block;
    }
  }


  .staging-item {
    flex-basis: 32%;
    margin-bottom: 2rem;

     @media (max-width: 900px) {
      flex-basis: 50%;
    }
  }

  .staging-disclaimer {
    margin: 5rem 0 0 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-secondary);
    text-align: center;

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

</style>